<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lista de Clientes:</h1>
  <table style="border: 2px solid ;">
    <tr >
      <th style="border: 2px solid ;">id</th>
      <th style="border: 2px solid ;">Nome</th>
      <th style="border: 2px solid ;">cpf</th>
      <th style="border: 2px solid ;">email</th>
      <th style="border: 2px solid ;">telefone</th>
      <th style="border: 2px solid ;">fidelidade</th>
    </tr>
     <tr>
    <% for(let i = 0; i < listacliente.length; i++) { %>
    <tr>
      <td style="border: 2px solid ; padding: 3px;"> <%= listacliente[i].id %></td>
      <td style="border: 2px solid ; padding: 3px;"><%= listacliente[i].nome %> </td>
      <td style="border: 2px solid ; padding: 3px;"><%= listacliente[i].cpf %></td>
      <td style="border: 2px solid ; padding: 3px;" > <%= listacliente[i].email %></td>
      <td style="border: 2px solid ; padding: 3px;" > <%= listacliente[i].telefone %></td>
      <td style="border: 2px solid ; padding: 3px;" > <%= listacliente[i].fidelidade %></td>
       </tr>
    <% } %>
  </tr>
</body>

</html>